<div class="container">
    <div class="row">
    <div class="col-sm-8 mt-3">
        <h4>Sentiment file system</h4>

        <form action="/auth" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control border" value=""/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control border" value=""/>
            </div>
        <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    </div>
    <hr />
    <div class="row">
    <div class="col-sm-12">
        <div class="preview-images"></div>
    </div>
    </div>
</div>